.authButton {
  background-color: #9C7D6A;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 18px;
  transition: all 0.3s ease;
  /* שינינו ל-all כדי שהאנימציה תחול גם על השינוי בגודל */
  display: inline-flex;
  /* שינינו ל-inline-flex כדי שיתרחב לפי התוכן */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  /* שינינו ל-auto כדי שהגובה יתאים לתוכן */
  cursor: pointer;
  min-height: 93%;
  /* הוספנו min-height במקום height קבוע */
  white-space: nowrap;
  /* מונע שבירת שורות בטקסט */
}

.authButton:hover {
  background-color: #8d7160;
}

.authButtonContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authButtonUser {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}

.authButtonAction {
  font-size: 16px;
  text-align: center;
}

.link {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
.burger {
  width: 28px;
  height: 22px; 
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  margin-bottom: 7px;
}

.line {
  width: 100%;
  height: 2px; 
  background-color: var(--textColor);
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
}

.line:nth-child(1) {
  top: 0;
}

.line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.line:nth-child(3) {
  bottom: 0;
}

.burger.open .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger.open .line:nth-child(2) {
  opacity: 0;
}

.burger.open .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.responsiveMenu {
  position: fixed;
  top: 85px;
  left: -40%;
  background-color: var(--bg);
  height: calc(100vh - 85px);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 17px;
  font-size: 20px;
  z-index: 999;
  align-items: center;
  font-weight: 800;
  transition: left 0.3s ease-in-out;
}

.responsiveMenu.open {
  left: 0;
}

.authShow {
  height: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #B5CFB7;
}

.image {
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .link {
    font-size: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .link {
    font-size: 22px;
  }


  .responsiveMenu {
    width: 40%;
    left: -40%;
  }
}

@media screen and (max-width: 768px) {
  .link {
    font-size: 20px;
    padding: 5px 14px;
  }

  .authButton {
    display: none;
  }

  .burger {
    display: flex;
  }
}

@media screen and (max-width: 640px) {
  .burger {
    display: flex;
  }

  .link:not(.authButton) {
    display: none;
  }

  .responsiveMenu {
    width: 40%;
    left: -40%;
  }
}