.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  width: 100px;
  border: none;
  border-radius: 10px;
  padding: 16px;
  background-color: rgb(29, 15, 17);
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--font-fredoka); 

}

.button:disabled{
  background-color: rgba(56, 44, 46, 0.473);
  cursor: not-allowed;
}