.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.input {
  font-size: 2.5rem;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #fafafa;
  color: var(--textColor);
  transition: border-color 0.3s ease;
  font-family: var(--font-fredoka);
  border-radius: 10px;
}

.input:focus {
  border-color: var(--textColor);
}

.input::placeholder {
  color: #6b6a69;
}

.select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fafafa;
  color: var(--textColor);
  font-size: 1rem;
  transition: border-color 0.3s ease;
  font-family: var(--font-fredoka);
}

.select:nth-child(2),
.select:nth-child(3) {
  font-weight: 500;
}

.select:focus {
  border-color: var(--textColor);
  outline: none;
}

.editor {
  min-height: 300px;
  border-radius: 0.5rem;
}

.textArea {
  width: 100%;
  height: 300px;
  font-size: 1.1rem;
  background-color: #fafafa;
  color: var(--textColor);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  min-height: 300px;
  resize: vertical;
  outline: none;
  font-family: var(--font-fredoka);
}

.textArea::placeholder {
  color: #000000;
}

.error {
  color: red;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 24px;
}

.success {
  color: #1a8917;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 24px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.publish, .cancel {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  font-family: var(--font-fredoka);
}

.publish {
  background-color: #1a8917;
  color: white;
}

.publish:hover {
  background-color: #146c12;
}

.cancel {
  background-color: #f0ad4e;
  color: white;
}

.cancel:hover {
  background-color: #ec971f;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  font-size: 1.2rem;
  color: var(--textColor);
}

@media (max-width: 768px) {
  .container {
      padding: 1rem;
  }

  .input {
      font-size: 2rem;
  }

  .buttonContainer {
      flex-direction: column;
      align-items: stretch;
  }

  .publish, .cancel {
      width: 100%;
  }
}