.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.wrapper {
  background-color: var(--softBg);
  padding: 150px 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  border-radius: 10px;
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #333;
  font-weight: bold;
  padding: 15px 70px;
  border-radius: 24px;
  border: solid 1px #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.image {
  margin-right: 12px;
}


.logoImage {
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 50px 100px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    padding: 30px;
  }

  .socialButton{
    font-weight: 400;
    font-size: 14px;
  }
}
