.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f4f0;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}

.wrapper {
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #333;
  /* font-weight: bold; */
  padding: 15px 20px;
  border-radius: 24px;
  border: solid 1px #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 18px;
}

.socialButton:hover {
  background-color: #3367D6;
  color: #ffffff;
}

.image {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.text {
  font-size: 16px;
  text-align: center;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #777;
  margin: 15px 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.divider span {
  padding: 0 10px;
}

.registerLink {
  text-align: center;
  font-size: 16px;
}

.registerLink a {
  color: #4285F4;
  text-decoration: underline;
}

.registerLink a:hover {
  text-decoration: underline;
}

.infoText {
  text-align: center;
  font-size: 16px;
  color: #555;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 30px;
  }

  .socialButton {
    padding: 12px 15px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    min-height: 80vh;
    padding: 40px 20px;
  }

  .wrapper {
    padding: 20px;
  }

  .socialButton {
    padding: 10px;
    font-size: 15px;
  }

  .image {
    width: 20px;
    height: 20px;
  }

  .text,
  .infoText,
  .registerLink {
    font-size: 15px;
  }
}