.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.buttonContainer {
  margin-top: 20px;
}

.confirmButton, .cancelButton {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.confirmButton {
  background-color: #8E3B46;
  color: white;
}

.confirmButton {
  background-color: #8E3B46;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-fredoka);
}

.confirmButton:hover {
  background-color: rgb(133, 22, 22);
}

.confirmButton:active {
  background-color:rgb(104, 16, 16);
  transform: translateY(2px);
}


.cancelButton {
  background-color: #F4A261; 
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-fredoka);
}

.cancelButton:hover {
  background-color: #E98E50;
}

.cancelButton:active {
  background-color: #D77A3D; 
  transform: translateY(2px);
}

