.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 85px;
  padding-bottom: 7px;
}

.logo {
  display: flex;
  align-items: flex-end;
  margin-bottom: -5px;
}

.logoImage {
  object-fit: contain;
}

.links {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2px;
}

.link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1280px) {
  .links {
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    text-align: left;
  }

  .links {
    font-size: 18px;
    gap: 8px;
  }
}

@media screen and (max-width: 768px) {
  .links {
    font-size: 16px;
    gap: 9px;
  }

  .link:not(.logo) {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
    gap: 6px;
  }


}