.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #CADABF;
}

.info {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* gap: 5px; */
  text-align: center;
  font-size: 14px;
}

.info a {
  text-decoration: none;
  /* color: #0072b1; צבע הלינק, לדוגמה צבע לינקדין */
}

.info a:hover {
  text-decoration: underline;
}
